body {
    font-family: Arial, sans-serif;
    background-image: url('recipe.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white; /* Set text color to white */
}

.container {
    width: 70%; /* Set form width to 70% of the screen */
    max-width: 800px; /* Add max-width to limit the container width */
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

h1 {
    text-align: center;
}

.form-group {
    margin-bottom: 20px; /* Reduced margin for form group */
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
textarea {
    width: 90%; /* Make text boxes wider */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;

}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
